:root {
    --fondo: #f1f2f6;
    --base: #27187e;
    --medio: #979dac;
    --gris: rgb(221, 226, 232);
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--fondo);
    font-family: "Montserrat", serif;
}

/* ----- HEADER ------ */

.header {
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo);
    padding: 5px 30px;
    border-bottom: 1px solid #00000022;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header__brand-container {
    display: flex;
    align-items: center;
    max-width: 200px;
}
.header__brand-logo {
    width: 40px;
    height: auto;
}
.header__brand-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: .1px solid #0000003b;
}
.header__brand-container h2 {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    letter-spacing: 1px;
}

.header__options-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 140px;
}
.header__options-container button {
    width: 35px;
    height: 35px;
    padding: 9px;
    border: none;
    border-radius: 6px;
    background-color: var(--gris);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 2px var(--gris);
    transition: all .6s ease;
}
.header__options-container button:hover {
    background-color: var(--base);
    box-shadow: 0px 0px 5px var(--base);
}
.header__options-container svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .6s ease;
}
.header__options-container button:hover svg {
    stroke: var(--fondo);
}
.header__options-container a {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.header__option img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
}

/* ----- HEADER ENDS------ */

/* wrapper main content */
.wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

/* ----- CATEGORIES------ */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    max-width: 480px;
    min-width: 300px;
}
.categories > h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.categories__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    column-gap: 25px;
}
.categories__add-btn {
    display: inline;
    width: 30px;
    height: 30px;
    padding: 7px;
    border: none;
    border-radius: 6px;
    background-color: var(--base);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 2px var(--base);
    transition: all .6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories__add-btn svg{
    object-fit: contain;
    stroke: var(--fondo);
    width: 100%;
    height: 100%;
    transition: all .6s ease;
}
.categories__add-btn:hover {
    background-color: var(--fondo);
    box-shadow: none;
    border: 1px solid var(--base);
}
.categories__add-btn:hover svg {
    stroke: var(--base);
}
.categories__categories-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-content: center;
    gap: 10px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 12px 0 10px;
    transition: overflow-y 0.5s ease;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #00000022;
}

.categories__categories-container::-webkit-scrollbar {
    width: 4px; 
}
.categories__categories-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
}
.categories__categories-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.categories__categories-container::-webkit-scrollbar-track {
    background: transparent; 
}

.categories__categories {
    background-color: var(--gris);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    font-size: .95rem;
    border-radius: 7px;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    box-shadow: 0px 0px 2px var(--gris);
    transition: all .3s ease;
}
.categories__categories:hover {
    background-color: rgb(211, 217, 224);
    text-shadow: 0px 0px .1px #000;
}

.categories__new-task-btn {
    background-color: var(--base);
    color: #fff;
    width: 50%;
    height: 35px;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    border-radius: 7px;
    margin: 10px 0;
    border: none;
    margin-top: 23px;
    cursor: pointer;
    box-shadow: 0px 0px 2px var(--base);
    transition: all .5s ease;
}
.categories__new-task-btn:hover {
    background-color: #211567;
    text-shadow: 0px 0px 2px var(--fondo);
}
/* ----- CATEGORIES ENDS------ */

/* ----- TASKS------ */
.tasks {
    margin-top: 30px;
    width: 70vw;
    max-width: 650px;
    min-width: 300px;
    display: flex;
    flex-direction: column;

}
.tasks__categorie-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.tasks__categorie-container h2 {
    font-size: 1.5rem;
    margin: 0;
}
.tasks__categorie-container button {
    font-size: 13px;
    margin-right: 35px;
    background-color: var(--gris);
    border: none;
    font-family: inherit;
    text-align: center;
    padding: 5px 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px var(--gris);
    cursor: pointer;
    transition: all .3s ease;
}
.tasks__categorie-container button:hover {
    background-color: rgb(211, 217, 224);
    text-shadow: 0px 0px .1px #000;
}
.tasks__tasks-container {
    display: flex;
    flex-direction: column;
}

.tasks__tasks-importance-container > h2 {
    font-size: 1.2rem;
    color: var(--base);
    width: 80%;
    padding: 0px 20px;
}
.tasks__individual-task {
    font-size: 15px;
    margin-left: 25px;
    margin-top: 20px;
}
.tasks__individual-task input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: none;
    outline: none;
    background-color: var(--gris);
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
}
.tasks__individual-task input[type="checkbox"]:checked {
    background-color: var(--base);
    border-color: var(--base); 
    color: #fff;
}
.tasks__individual-task input[type="checkbox"]:checked::before {
    content: ''; 
    position: absolute;
    top: 2.5px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}
.tasks__individual-task label {
    margin-left: 10px;
    line-height: 2;
}
.tasks__individual-task p {
    font-weight: bolder;
    margin: 8px 0 10px 0;
    font-style: italic;
    color: #0000009a;
    font-weight: 400;
    font-size: 15px;
}   
/* ----- TASKS ENDS------ */


@media screen and (min-width: 750px){
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
        padding: 25px 40px;
    }

    .categories {
        max-width: 10vw;
        align-items: flex-start;
        position: fixed;
    }

    .categories__categories-container {
        min-height: 64vh;
        max-height: 64vh;
        max-width: 80%;
        padding: 0;
        padding-left: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #00000022;
        row-gap: 18px;
    }

    .categories__categories {
        min-height: 35px;
        min-width: 190px;
        max-width: 90%;
        text-align: start;
        padding: 0;
        padding-left: 25px;
        padding-right: 10px;
        font-size: 15px;
    }

    .categories__header {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        width: 90%;
        min-width: 276px;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .categories__header > h2 {
        margin: 0;
    }
    .categories__new-categorie-btn {
        display: none;
    }
    .categories__new-task-btn {
        margin: 20px 0 0 30px;
    }

    .tasks {
        margin-top: 0px;
        margin-left: 35vw;
    }
}

@media screen and (min-width: 1000px) {
    .categories {
        min-width: 28.5vw;
    }
    .tasks {
        margin-left: 30vw;
    }
}