:root {
    --fondo: #f1f2f6;
    --base: #27187e;
    --medio: #979dac;
    --gris: rgb(221, 226, 232);
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
.add {
    width: 100%;
    padding-top: 90px;
    justify-content: center;
}
.add__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    width: 90%;
    position: relative;
}
.add__wrapper > h2 {
    margin: 0;
    align-self: flex-start;
    margin-bottom: 20px;
}

/* ---FORM--- */
.add__title-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: flex-start;
    padding-left: 20px;
}
.add__title-form label {
    font-size: 1rem;
    font-weight: 500;
}

.add__task-textarea {
    margin: 10px 0 15px 0;
    width: 95%;
    resize: none;
    min-height: 85px;
    border: none;
    background-color: var(--gris);
    border-radius: 6px;
    padding: 9px 5px 9px 9px;
    font-size: .8rem;
    box-shadow: 0px 0px 3.5px var(--gris);
    word-spacing: 1.2px;
    line-height: 1.5;
}

.add__task-textarea::-webkit-scrollbar {
    width: 3px;
}
.add__task-textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.193); 
}
.add__task-textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.281); 
}
.add__task-textarea::placeholder {
    color: #958fb2;
    font-style: italic;
    word-spacing: 1.2px;
}

.add__task-textarea:focus {
    border: none;
    outline: none;
}
/* ---FORM ENDS--- */


/* ---PRIORITY --- */
.add__priority-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    row-gap: 15px;
    width: 90%;
}
.add__priority-container label {
    width: 80%;
    height: 45px;
    border: 1px solid #0000003b;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 10px;
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.add__priority-container label:hover {
    transform: scale(1.045);
}
.add__priority-container input {
    display: none;
}
.add__priority-container span {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #0000006b;
    position: relative;
    cursor: pointer;
}

.add__priority-container span::after {
    content: '';
    width: 5.5px;
    height: 5.5px;
    border-radius: 50%;
    background-color: var(--base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.add__priority-container input:checked + span::after {
    transform: translate(-50%, -50%) scale(1);
}
.add__priority-container input:checked + span {
    border-color: var(--base);
}
/* ---PRIORITY ENDS--- */


/* ---ATRIBUTES--- */

.add__atributes-container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    margin-bottom: 20px;
}
.add__atribute {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
}

.add__atribute__calendar-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
}

.add__atribute__calendar {
    display: none;
    align-self: center;
    padding: 15px;
    border: .2px solid #00000020;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #00000018;
    margin-bottom: 20px;
}

#calendar {
    width: 210px;
    height: 290px;
    max-height: 300px;
}
.grid {
    height: 250px;
}

#calendar-month {
    width: 100%;
    height: 100%;
    --color-accent: var(--base);
    --color-text-on-accent: var(--fondo);
}
#calendar-month {
    &::part(table) {
        height: 100%;
        width: 100%;
        table-layout: fixed;
    }
    &::part(day) {
        block-size: 2rem;
        inline-size: 2rem;
    }
    &::part(day):hover {
        background-color: #8390e47f;
        color: #000;
    }
}


/* calendar btns previus and next */
#calendar {
    svg {
        width: 17px;
        height: 17px;
        border: none;
        border-radius: 6px;
    }
    path {
        stroke: var(--base);
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &::part(button) {
        border: none;
        outline: none;
        background-color: var(--gris);
        border-radius: 6px;
        padding: 2px;
        transition: all .2s ease-in-out;
    }
    &::part(button):hover {
        background-color: rgb(211, 217, 224);
        text-shadow: 0px 0px .1px #000;
    }
}

.add__atribute__content-container {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.add__atribute #link-svg-container {
    color: #000;
    text-decoration: none;
}

#link-svg-container .svg-clicked {
    background-color: var(--base);
    stroke: var(--fondo);
    box-shadow: 0px 0px 3.5px var(--base);
    transform: scale(1.06);
}
#categories-svg.svg-clicked {
    background-color: var(--base);
    stroke: var(--fondo);
    box-shadow: 0px 0px 3.5px var(--base);
    transform: scale(1.06);
}

.add__atribute svg {
    width: 45px;
    height: 45px;
    background-color: var(--gris);
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 3.5px var(--gris);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.add__atribute svg:hover {
    background-color: var(--base);
    stroke: var(--fondo);
    box-shadow: 0px 0px 3.5px var(--base);
    transform: scale(1.06);
}
.add__atribute svg:active, .add__atribute svg:focus {
    background-color: var(--base);
    stroke: var(--fondo);
    box-shadow: 0px 0px 3.5px var(--base);
    transform: scale(1.06);
    outline: none
}

.add__atribute  .add__atribute-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.add__atribute-text h3 {
    font-size: 1rem;
    margin: 0;
}
.add__atribute-text p {
    margin: 0;
    font-size: .8rem;
    margin-top: 8.5px;
    color: #958fb2;
    max-width: 80%;
}
.add__atribute-text span {
    font-style: italic;
    font-size: .9em;
}

.add__atribute-text select {
    border: none;
    background-color: var(--gris);
    color: #958fb2;
    font-weight: 500;
    margin-top: 8.5px;
    max-width: 80%;
    padding: 4px;
    max-height: 27px;
    border-radius: 6px;
    font-size: .7rem;
    cursor: pointer;
    box-shadow: 0px 0px 3.5px var(--gris);
    transition: all .15s ease-in-out;
    font-style: italic;
}

.add__atribute-text select:focus {
    outline: 1px solid var(--gris);
    outline: none;
    box-shadow: 0px 0px 10px var(--medio);
    transform: scale(1.04);
    text-shadow: 0px 0px 5px var(--gris);
}
.add__atribute-text select:hover {
    background-color: rgb(211, 217, 224);
}

#add__task-select option {
    border: none;
    color: var(--base);
    background-color: var(--gris);
    font-style: normal;
    font-size: .8rem;
    font-weight: 600;
}
#add__task-select option:hover {
    background-color: var(--base);
    color: var(--fondo);
}
/* ---ATRIBUTES ENDS--- */










/* --- BUTTONS --- */
.add__btns-container {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 5px;
    padding-bottom: 25px;
}

.add__btns-container button {
    width: 120px;
    height: 35px;
    border-radius: 6px;
    border: none;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn--gray {
    background-color: var(--gris);
}
.btn--gray:hover {
    background-color: rgb(211, 217, 224);
    text-shadow: 0px 0px .1px #000;
}
.btn--blue {
    background-color: var(--base);
    color: var(--fondo);
}
.btn--blue:hover {
    background-color: #211567;
    text-shadow: 0px 0px 1px var(--fondo);
}
/* --- BUTTONS ENDS --- */


@media screen and (min-width: 1045px){
    .add {
        display: flex;
        justify-content: center;
    }

    .add__wrapper {
        align-items: flex-start;
        max-width: 1000px;
        min-width: 65vw;
    }

    /* FORM*/
    .add__title-form {
        max-width: 50%;
        min-width: 440px;
    }


    /* PRIORITY */
    .add__priority-container {
        align-items: flex-start;
        max-width: 90%;
        min-width: 600px;
        padding-left: 20px;
    }
    .add__priority-container label {
        width: 90%;
    }

    /* BUTTONS */
    .add__btns-container {
        justify-content: flex-end;
        column-gap: 20px;
    }

    .add__atribute {
        width: 340px;
    }

    #relative-for-btns {
        width: 90%;
        /* padding: 20px; */
        position: relative;
    }

    .add__atributes-container {
        min-height: inherit;
        max-width: 100%;
        position: relative;
        padding-bottom: 20px;
    }
    
    .add__atribute__calendar-container {
        flex-direction: row;
        row-gap: 0;
        min-width: 95%;
        position: relative;
    }

    .add__atribute__calendar {
        position: relative;
        margin-bottom: 0;
        left: -25px;
    }

    /* WHEN CALENDAR IS CLICKED */
    .active .atribute__category {
        position: absolute;
        top: 80px;
    }
    
    .active .atribute__calendar {
        align-self: flex-start;
    }
    
    .active .add__btns-container {
        position: absolute;
        bottom: 15px;
    }
    
    /* IN CASE ENDS */
    .add__btns-container button {
        width: 110px;
        height: 30px;
        font-size: .8rem;
    }


}